@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}  
  
* {
    margin: 0;
    padding: 0;
    font-family: "Gloria Hallelujah", cursive;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #e1eec3, #f05053)
}